@media (min-width: 300px) and (max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        width: 343px;
        text-align: center;
        padding-top: 238px;
        &_greetings{
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 32px;
        }
    }
    .text{
        font-size: 14px;
        line-height: 22px;
    &_breadcrumbs{
        font-size: 14px;
        line-height: 22px;
        }
    &_info{
        display: flex;
        align-items: center;
        flex-direction: column;
        }
    }
    .for{
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        &_item{
            grid-column: 1 / -1;
            height: 300px;
            font-size: 24px;
            line-height: 32px;
        }
    }
    .play_name{
        font-size: 32px;
        line-height: 39px;
    }
    .play_title{
            width: 343px;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
    }
    .play_season{
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    .play_word{
            display: flex;
            flex-direction: column;
            align-items: center;
    }
    
}